body {
    height: auto;
    min-height: 100%;
}

.gallery img,
.spacer img {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

footer {
    margin-top: 3rem;
}

.content p {
    line-height: 1.5;
}

.modal scroll {
    max-height: 50vh;
    overflow: scroll;
}

.card {
    transform: scale(1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.content {
    max-width: 80em;
    min-height: 100%;
    margin: 0 auto;
    padding: 1em;
}


@media only screen and (min-width: 40em) {
    .content {
        padding: 2em;
    }
}


@media only screen and (min-width: 70em) {
    .content {
        padding: 5em;
    }
}

.sources li {
    line-height: 1.8;
}

.sources li a {
    text-decoration: underline;
}

.btn {
    font-size: 1.6rem;
    text-align: center;
}

.logo {
    height: 4rem;
}

.scopes p {
    background-color: #f5f5ff;
    padding: 5px;
}

.nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.nav__logo {
    display: inline-flex;
}

.nav__items {
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav__item {
    margin: 0 10px;
    line-height: 4rem;
}

@media only screen and (min-width: 40em) {
    .nav {
        margin-bottom: 2.3rem;
    }
}
